
{{> header}}

<div class="container">
	<p>
		<div>
			<br />
			<br />
			<strong>
				エンベロープが送信されました。 DocuSignからの署名用通知メールをご確認下さい。
			</strong>
			<br />
			<br />
		</div>
	</p>

	{{> footer}}
</div>